.Index {
  text-align: center;
  padding-top: 1rem;
}
.Index p {
  font-weight: bold;
  position: relative;
}
.Index code {
  font-family: Inconsolata;
}

h1,
p {
  font-family: "GangsterGrotesk-Bold";
}
