.nav_header {
  display: flex;
  line-height: 1.0;
}

.nav_header a {
  color: black;
  text-decoration: none;
}

.nav_header a:hover {
  color: purple;
}

.nav_header h1 {
  font-family: Inconsolata, sans-serif;
  font-size: 2rem;
}

.nav_header h4 {
  position: absolute;
  right: 25px;
  font-family: Inconsolata, sans-serif;
  font-size: 1rem;

}
